* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: designer;
    src: url(./fonts/Designer-Notes.ttf);
}

@font-face {
    font-family: futuro;
    src: url(./fonts/One\ Slice.otf);
}

@font-face {
    font-family: supermercado;
    src: url(./fonts/SupermercadoOne-Regular.ttf);
}

@font-face {
    font-family: belleza;
    src: url(./fonts/Belleza-Regular.ttf);
}

@font-face {
    font-family: japan;
    src: url(./fonts/Japanese\ 3017.ttf);
}

:root {
    --color1: rgb(6, 165, 251);
    --color2: rgb(35, 142, 200);
    --color3: rgb(56, 126, 164);
    --color4: rgb(52, 95, 118);
    --color5: rgb(37, 56, 66);
    --fonte1: designer;
    --fonte2: futuro;
    --fonte3: supermercado;
    --fonte4: belleza;
    --fonte5: japan;
    --color1trans: rgba(6, 165, 251, 0.5);
    --color2trans: rgba(35, 142, 200, 0.5);
    --color3trans: rgba(56, 126, 164, 0.5);
    --color4trans: rgba(52, 95, 118, 0.5);
    --color5: rgba(37, 56, 66, 0.5);



}

body {
    background: #2F0A95;
    background: linear-gradient(135deg, #161d5a 0%, #3154A4 48%, #8FC4C5 100%);
    color: rgb(218, 225, 228);
    -webkit-font-smoothing: antialiased;
}

body,
input,
button {
    font-size: 16px;
    font-family: var(--fonte4);
}

button {
    cursor: pointer;
}

/*header*/
header {
    width: 100%;
    height: 100px;
    z-index: +5;
}

nav {
    width: 100%;
    background: #060526;
    background: -moz-linear-gradient(top, #060526 0%, #4D6BA4 75%, #86BFC5 100%);
    background: -webkit-linear-gradient(top, #060526 0%, #4D6BA4 75%, #86BFC5 100%);
    background: linear-gradient(to bottom, #060526 0%, #4D6BA4 75%, #86BFC5 100%);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    border-bottom: 5px groove var(--color2);
    backdrop-filter: blur(1px);
}

nav a {
    text-decoration: none;
    color: white;
    background: #060526;
    background: -moz-linear-gradient(top, #060526 0%, #4D6BA4 75%, #86BFC5 100%);
    background: -webkit-linear-gradient(top, #060526 0%, #4D6BA4 75%, #86BFC5 100%);
    background: linear-gradient(to bottom, #060526 0%, #4D6BA4 75%, #86BFC5 100%);
    height: 30px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border-bottom: 5px ridge rgb(27, 96, 134);

}

nav a:hover {
    color: white;
    background-color: rgb(27, 92, 126);
    border-bottom: 2px ridge rgb(16, 56, 77);
}

/*main*/
.extras{
    z-index: +5;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    position: absolute;
    height: 40px;
    top:100%;
    border:0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: 5px ridge rgb(27, 96, 134);
    color: white;
    background: #060526;
    background: -moz-linear-gradient(top, #060526 0%, #4D6BA4 75%, #86BFC5 100%);
    background: -webkit-linear-gradient(top, #060526 0%, #4D6BA4 75%, #86BFC5 100%);
    background: linear-gradient(to top, #060526 0%, #4D6BA4 75%, #86BFC5 100%);
    
}
.extras:hover{
    border-bottom: 2px ridge rgb(16, 56, 77);
}
main {
    width: 100%;
    padding: 1% 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.presentacion {
    display: flex;
    background-color: var(--color3trans);
    padding: 3% 10%;
    border-radius: 20px;
    justify-content: center;
    gap: 10px;
    border-bottom: 5px groove var(--color2);
    box-shadow: 1px 11px 6px -3px #000000;
    backdrop-filter: blur(5px);
}

.imaxe {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #060526;
    background: -moz-linear-gradient(top, #060526 0%, #4D6BA4 75%, #86BFC5 100%);
    background: -webkit-linear-gradient(top, #060526 0%, #4D6BA4 75%, #86BFC5 100%);
    background: linear-gradient(to bottom, #060526 0%, #4D6BA4 75%, #86BFC5 100%);
    border-radius: 20px;

}

@keyframes imaxe {
    0% {
        rotate: 0deg
    }

    25% {
        rotate: 15deg
    }

    50% {
        rotate: 0deg
    }

    75% {
        rotate: -15deg
    }

    100% {
        rotate: 0deg
    }

}

.imaxe img {
    width: 90%;

    animation: imaxe 5s linear infinite;
}

@keyframes imaxe {
    0% {
        rotate: 0deg
    }

    25% {
        rotate: 10deg
    }

    50% {
        rotate: 0deg
    }

    75% {
        rotate: -10deg
    }

    100% {
        rotate: 0deg
    }

}

.texto {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    border-radius: 20px;
    gap: 10px;
    text-align: center;
    background-color: var(--color2);
    font-weight: 600;
}

.texto a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

.habilidades {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: var(--color3trans);
    padding: 3% 10%;
    border-radius: 20px;
    justify-content: center;
    text-align: center;
    border-bottom: 5px groove var(--color2);
    box-shadow: 1px 11px 6px -3px #000000;
    backdrop-filter: blur(5px);

}

.habilidades p {
    background-color: var(--color2);
    border-radius: 20px;
    padding: 10px;
    font-weight: 600;
}
.enlaces{width: 300px;
height: 30px;display: flex;
    align-items: center;
    justify-content: space-around;
border-radius: 10px;
background-color: rgb(195, 116, 87);}
.enlaces a{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    
}
.enlaces a img{
    width: 100%;
}
.disney{background-color: blue;}
.volvo{background-color: red;}
.parallax{background-color: white;}
.creed{background-color: goldenrod;}
.proxectos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color3trans);
    padding: 3% 10%;
    border-radius: 20px;
    justify-content: center;
    text-align: center;
    gap: 10px;
    border-bottom: 5px groove var(--color2);
    box-shadow: 1px 11px 6px -3px #000000;
    backdrop-filter: blur(5px);
}

.proxectos p {
    font-weight: 600;
}

.contedorproxectos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.proxecto {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--color2);
    gap: 10px;
    padding: 30px;
    border-radius: 15px;
}

.proxectospresentacion {
    background-color: var(--color2);
    border-radius: 20px;
    padding: 10px;
    font-size: 1.2rem;
}

.visual {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.proxvideo {
    width: 100%;
}

.proxectotext0 {
    width: 100%;
}

.contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color3trans);
    padding: 3% 10%;
    border-radius: 20px;
    justify-content: center;
    text-align: center;
    gap: 10px;
    width: 100%;
    border-bottom: 5px groove var(--color2);
    box-shadow: 1px 11px 6px -3px #000000;
    backdrop-filter: blur(5px);
}

.via {
    display: flex;

    align-items: center;
    justify-content: center;
    gap: 5px;
}

.via a {
    text-decoration: none;
    color: white;
}

h2 {
    font-family: var(--fonte1);
    font-size: 2rem;
    color: white;
    text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15), 8px 7px 3px rgba(206, 89, 55, 0);
}

h3 {
    color: #FFFFFF;
    font-family: var(--fonte1);
    text-shadow: 2px 2px 0 #4074b5, 2px -2px 0 #4074b5, -2px 2px 0 #4074b5, -2px -2px 0 #4074b5, 2px 0px 0 #4074b5, 0px 2px 0 #4074b5, -2px 0px 0 #4074b5, 0px -2px 0 #4074b5;
}

/*galeria*/
.slider {
    width: 500px;
    border: 1px solid;

    position: relative;
    overflow: hidden;
    background-color: blueviolet;


}

.slider__contenedor {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slider__slide {
    min-width: 100%;
    box-sizing: border-box;
}

.slider__slide video {
    object-fit: cover;
    width: 100%;
}

#prev {
    position: absolute;
    z-index: +1;
    height: 20%;
    width: 10%;
    background-color: rgba(0, 255, 255, 0.411);
    left: 0%;
    top: 40%;
    border-radius: 10px;

}

#prev:hover {
    background-color: rgba(0, 255, 255)
}

#siguiente:hover {
    background-color: rgba(0, 255, 255)
}

#siguiente {
    position: absolute;
    z-index: +1;
    height: 20%;
    width: 10%;
    background-color: rgba(0, 255, 255, 0.411);
    border-radius: 10px;
    top: 40%;
    left: 90%
}

.circulitos {
    width: 30%;
    display: flex;
    justify-content: space-between;
    background-color: rgba(128, 255, 0, 0.5);
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    z-index: +1;
    bottom: 5%;
    left: 35%;

}

.circulo {
    width: 10px;
    height: 10px;
    border-radius: 50%;

}

.violeta {
    background-color: blueviolet;
}

.vermello {
    background-color: red;
}

/*tolemia de animacions*/
.contedoraparece {
    opacity: 0%;
}

.contedorvisible {
    opacity: 100%;
}

.plataformas {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 51px;

}

.contedorfondo {
    position: absolute;
    z-index: -9;
    height: 100%;
    width: 100%;
    background-color: transparent;
    left: 0;
    top: 0
}

.contedorfondo2 {
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    background-color: transparent;
    left: 0;
    top: 100%
}

.contedorfondo3 {
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    background-color: transparent;
    left: 0;
    top: 200%
}

.barra {
    height: 20%;
    width: 50%;
    border-radius: 30%;
}

.primeira {
    background: #CE810E;
    background: -moz-linear-gradient(-45deg, #CE810E 0%, #A48F2C 50%, #C5BC62 100%);
    background: -webkit-linear-gradient(-45deg, #CE810E 0%, #A48F2C 50%, #C5BC62 100%);
    background: linear-gradient(135deg, #CE810E 0%, #A48F2C 50%, #C5BC62 100%);
    position: relative;
    left: 50%;
    animation: primeira 20s linear infinite;
}

.primeirarapido {
    clip-path: polygon(0% 0%, 20% 0%, 40% 0%, 60% 0%, 80% 0%, 100% 0%, 100% 20%, 100% 40%, 100% 60%, 100% 80%, 100% 100%, 80% 100%, 60% 100%, 40% 100%, 20% 100%, 0% 100%, 0% 80%, 0% 60%, 0% 40%, 0% 20%);
    animation: primeira 4s linear infinite, psyco 3s linear infinite, estrela 5s linear infinite;
}

@keyframes estrela {

    0%,
    100% {
        clip-path: polygon(0% 0%, 20% 0%, 40% 0%, 60% 0%, 80% 0%, 100% 0%, 100% 20%, 100% 40%, 100% 60%, 100% 80%, 100% 100%, 80% 100%, 60% 100%, 40% 100%, 20% 100%, 0% 100%, 0% 80%, 0% 60%, 0% 40%, 0% 20%);
    }

    20% {
        clip-path: polygon(20% 20%, 40% 40%, 50% 10%, 50% 10%, 60% 40%, 80% 20%, 70% 40%, 90% 50%, 90% 50%, 70% 60%, 80% 80%, 60% 60%, 50% 90%, 50% 90%, 40% 60%, 20% 80%, 30% 60%, 10% 50%, 10% 50%, 30% 40%);
        scale: 1
    }

    40% {
        rotate: 0deg
    }

    50% {
        scale: 0.2;
        rotate: 360deg
    }

    60% {
        rotate: 0deg
    }

    80% {
        clip-path: polygon(20% 20%, 40% 40%, 50% 10%, 50% 10%, 60% 40%, 80% 20%, 70% 40%, 90% 50%, 90% 50%, 70% 60%, 80% 80%, 60% 60%, 50% 90%, 50% 90%, 40% 60%, 20% 80%, 30% 60%, 10% 50%, 10% 50%, 30% 40%);
        scale: 1
    }
}

.segunda {
    background: #CE9239;
    background: -moz-linear-gradient(left, #CE9239 0%, #A46F0B 50%, #C55F5A 100%);
    background: -webkit-linear-gradient(left, #CE9239 0%, #A46F0B 50%, #C55F5A 100%);
    background: linear-gradient(to right, #CE9239 0%, #A46F0B 50%, #C55F5A 100%);
    position: relative;
    left: 10%;
    animation: segunda 15s linear infinite;
}

.segundarapido {
    clip-path: polygon(0% 0%, 20% 0%, 80% 0%, 100% 0%, 100% 40%, 100% 60%, 100% 100%, 80% 100%, 20% 100%, 0% 100%, 0% 60%, 0% 40%);
    animation: segunda 3s linear infinite, psyco 4s linear infinite, diabolo 5s linear infinite;
}

@keyframes diabolo {

    0%,
    100% {
        clip-path: polygon(0% 0%, 20% 0%, 80% 0%, 100% 0%, 100% 40%, 100% 60%, 100% 100%, 80% 100%, 20% 100%, 0% 100%, 0% 60%, 0% 40%)
    }

    20% {
        clip-path: polygon(40% 20%, 45% 40%, 55% 40%, 60% 20%, 90% 50%, 90% 50%, 60% 80%, 55% 60%, 45% 60%, 40% 80%, 10% 50%, 10% 50%);
        scale: 1
    }

    40% {
        rotate: 0deg
    }

    50% {
        scale: 0.2;
        rotate: -360deg
    }

    60% {
        rotate: 0deg
    }

    80% {
        clip-path: polygon(40% 20%, 45% 40%, 55% 40%, 60% 20%, 90% 50%, 90% 50%, 60% 80%, 55% 60%, 45% 60%, 40% 80%, 10% 50%, 10% 50);
        scale: 1
    }
}

.terceira {
    background: #CEA212;
    background: -moz-linear-gradient(left, #CEA212 0%, #A46537 50%, #C5BA68 100%);
    background: -webkit-linear-gradient(left, #CEA212 0%, #A46537 50%, #C5BA68 100%);
    background: linear-gradient(to right, #CEA212 0%, #A46537 50%, #C5BA68 100%);
    position: relative;
    left: 40%;
    animation: terceira 22s linear infinite;
}

.terceirarapido {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    animation: terceira 2s linear infinite, psyco 2s linear infinite, rombo 4s alternate-reverse infinite;
}

@keyframes rombo {

    0%,
    100% {
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%)
    }

    20% {
        clip-path: polygon(50% 20%, 90% 50%, 50% 80%, 10% 50%);
        scale: 1
    }

    40% {
        rotate: 0deg
    }

    50% {
        scale: 0.2;
        rotate: 360deg
    }

    60% {
        rotate: 0deg
    }

    80% {
        clip-path: polygon(50% 20%, 90% 50%, 50% 80%, 10% 50%);
        scale: 1
    }

}

.cuarta {
    background: #CEA166;
    background: -moz-radial-gradient(center, #CEA166 0%, #A4591A 50%, #C59B21 100%);
    background: -webkit-radial-gradient(center, #CEA166 0%, #A4591A 50%, #C59B21 100%);
    background: radial-gradient(ellipse at center, #CEA166 0%, #A4591A 50%, #C59B21 100%);
    position: relative;
    left: 0%;
    animation: cuarta 25s linear infinite;
}

.cuartarapido {
    animation: cuarta 3s linear infinite, psyco 4s linear infinite, circulo 6s linear infinite;
}

@keyframes circulo {

    0%,
    100% {
        border-radius: 0%;
    }

    20% {
        border-radius: 80%;
        scale: 1
    }

    40% {
        rotate: 0deg
    }

    50% {
        scale: 0.2;
        rotate: -360deg
    }

    60% {
        rotate: 0deg
    }

    80% {
        border-radius: 80%;
        scale: 1
    }


}

.quinta {
    background: #CE8526;
    background: -moz-linear-gradient(45deg, #CE8526 0%, #A48A3A 50%, #C56A32 100%);
    background: -webkit-linear-gradient(45deg, #CE8526 0%, #A48A3A 50%, #C56A32 100%);
    background: linear-gradient(45deg, #CE8526 0%, #A48A3A 50%, #C56A32 100%);
    position: relative;
    left: 30%;
    animation: quinta 17s linear infinite;
}

.quintarapido {
    clip-path: polygon(0% 0%, 20% 0%, 40% 0%, 60% 0%, 80% 0%, 100% 0%, 100% 20%, 100% 40%, 100% 60%, 100% 80%, 100% 100%, 80% 100%, 60% 100%, 40% 100%, 20% 100%, 0% 100%, 0% 80%, 0% 60%, 0% 40%, 0% 20%);
    animation: quinta 2s linear infinite, psyco 3s linear infinite, rara 8s linear infinite;
}

@keyframes rara {

    0%,
    100% {
        clip-path: polygon(0% 0%, 20% 0%, 40% 0%, 60% 0%, 80% 0%, 100% 0%, 100% 20%, 100% 40%, 100% 60%, 100% 80%, 100% 100%, 80% 100%, 60% 100%, 40% 100%, 20% 100%, 0% 100%, 0% 80%, 0% 60%, 0% 40%, 0% 20%)
    }

    20% {
        clip-path: polygon(40% 20%, 30% 40%, 50% 30%, 50% 30%, 70% 40%, 60% 20%, 80% 30%, 70% 50%, 70% 50%, 80% 70%, 60% 80%, 70% 60%, 50% 70%, 50% 70%, 30% 60%, 40% 80%, 20% 70%, 30% 50%, 30% 50%, 20% 30%);
        scale: 1
    }

    40% {
        rotate: 0deg
    }

    50% {
        scale: 0.2;
        rotate: 360deg
    }

    60% {
        rotate: 0deg
    }

    80% {
        clip-path: polygon(40% 20%, 30% 40%, 50% 30%, 50% 30%, 70% 40%, 60% 20%, 80% 30%, 70% 50%, 70% 50%, 80% 70%, 60% 80%, 70% 60%, 50% 70%, 50% 70%, 30% 60%, 40% 80%, 20% 70%, 30% 50%, 30% 50%, 20% 30%);
        scale: 1
    }
}



@keyframes primeira {
    0% {
        left: 50%;
    }

    50% {
        left: 0%
    }

}

@keyframes segunda {
    0% {
        left: 10%;
    }

    40% {
        left: 50%
    }

    90% {
        left: 0%;
    }

}

@keyframes terceira {
    0% {
        left: 40%;
    }

    40% {
        left: 0%;
    }

    90% {
        left: 50%
    }
}

@keyframes cuarta {
    0% {
        left: 0%;
    }

    50% {
        left: 50%
    }

}

@keyframes quinta {
    0% {
        left: 30%
    }

    20% {
        left: 50%
    }

    70% {
        left: 0%
    }
}

.contedorrotate {
    display: none;
    background: url(../assets/auga.jpeg);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border-top: 20px ridge goldenrod;
    border-right: 20px groove goldenrod;
    border-bottom: 20px groove goldenrod;
    border-left: 20px ridge goldenrod;
    position: fixed;
    left: 80%;
    top: 20%;
    z-index: +1;
    position: absolute;
}

.elementorotate {
    width: 70%;
    height: 70%;

    position: relative;
    left: 15%;
    top: 15%;
    animation: rotacion 10s linear infinite, nadar 1s linear infinite;
    background-image: url(../assets/carpas1-removebg-preview.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.elementorotate2 {
    width: 70%;
    height: 70%;

    position: relative;
    left: 15%;
    top: -55%;
    animation: rotacion 10s linear infinite, nadar2 1s linear infinite;
    background-image: url(../assets/carpas2-removebg-preview.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@keyframes rotacion {
    0% {
        rotate: 0deg
    }

    100% {
        rotate: -360deg
    }

}

@keyframes nadar {
    0% {
        opacity: 100%
    }

    49% {
        opacity: 100%;
    }

    50% {
        opacity: 0%;
    }

    99% {
        opacity: 0%;
    }

    100% {
        opacity: 100%
    }
}

@keyframes nadar2 {
    0% {
        opacity: 0%
    }

    49% {
        opacity: 0%;
    }

    50% {
        opacity: 100%;
    }

    99% {
        opacity: 100%;
    }

    100% {
        opacity: 0%
    }
}

.dalle {
    position: relative;
    top: -110%;
    left: 30%;
    width: 40%;
    height: 40%;
    color: #d42121;
    border-radius: 50%;
    background: goldenrod;
    border: 1px solid goldenrod;
    border-bottom: 5px ridge goldenrod;



}

.dalle p {
    text-shadow: 0px 0px 15px 15px black;
    text-decoration: none;
    font-weight: 500;

    font-size: 15px;
    font-family: var(--fonte5);
}

.dalle:hover {

    border: 0px;
    border-bottom: 1px;
}

.dalle1 {
    background-color: rgb(165, 88, 101);
    color: white;
    border: 1px solid rgb(165, 88, 101);
    border-bottom: 5px ridge rgb(165, 88, 101)
}

.dalle2 {
    background-color: red;
    color: yellow;
    border: 1px solid red;
    border-bottom: 5px ridge red;
}

.maisrapidocarpa1 {
    animation: rotacion 5s linear infinite, nadar 0.5s linear infinite;
}

.maisrapidocarpa2 {
    animation: rotacion 5s linear infinite, nadar2 0.5s linear infinite;
}

.superrapidocarpa1 {
    animation: rotacion 1.5s linear infinite, nadar 0.25s linear infinite;
}

.superrapidocarpa2 {
    animation: rotacion 1.5s linear infinite, nadar2 0.25s linear infinite;
}

/*ondulacion experimental*/
@property --angle {
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
}

.ondulante {
    animation: ondulante 1s linear infinite;
    background: conic-gradient(from var(--angle), #00ffbb9b, #45b2ffa7);

    clip-path: polygon(0% 0%, 20% 0%, 40% 0%, 60% 0%, 80% 0%, 100% 0%, 100% 20%, 100% 40%, 100% 60%, 100% 80%, 100% 100%, 80% 100%, 60% 100%, 40% 100%, 20% 100%, 0% 100%, 0% 80%, 0% 60%, 0% 40%, 0% 20%);

}

@keyframes ondulante {
    0% {
        --angle: 0deg;
        clip-path: polygon(5% 5%, 20% 0%, 40% 0%, 60% 0%, 80% 0%, 100% 0%, 100% 20%, 100% 40%, 100% 60%, 100% 80%, 100% 100%, 80% 100%, 60% 100%, 40% 100%, 20% 100%, 0% 100%, 0% 80%, 0% 60%, 0% 40%, 0% 20%)
    }

    5% {
        clip-path: polygon(0% 0%, 20% 5%, 40% 0%, 60% 0%, 80% 0%, 100% 0%, 100% 20%, 100% 40%, 100% 60%, 100% 80%, 100% 100%, 80% 100%, 60% 100%, 40% 100%, 20% 100%, 0% 100%, 0% 80%, 0% 60%, 0% 40%, 0% 20%)
    }

    10% {
        clip-path: polygon(0% 0%, 20% 0%, 40% 5%, 60% 0%, 80% 0%, 100% 0%, 100% 20%, 100% 40%, 100% 60%, 100% 80%, 100% 100%, 80% 100%, 60% 100%, 40% 100%, 20% 100%, 0% 100%, 0% 80%, 0% 60%, 0% 40%, 0% 20%)
    }

    15% {
        clip-path: polygon(0% 0%, 20% 0%, 40% 0%, 60% 5%, 80% 0%, 100% 0%, 100% 20%, 100% 40%, 100% 60%, 100% 80%, 100% 100%, 80% 100%, 60% 100%, 40% 100%, 20% 100%, 0% 100%, 0% 80%, 0% 60%, 0% 40%, 0% 20%)
    }

    20% {
        clip-path: polygon(0% 0%, 20% 0%, 40% 0%, 60% 0%, 80% 5%, 100% 0%, 100% 20%, 100% 40%, 100% 60%, 100% 80%, 100% 100%, 80% 100%, 60% 100%, 40% 100%, 20% 100%, 0% 100%, 0% 80%, 0% 60%, 0% 40%, 0% 20%)
    }

    25% {
        clip-path: polygon(0% 0%, 20% 0%, 40% 0%, 60% 0%, 80% 0%, 95% 5%, 100% 20%, 100% 40%, 100% 60%, 100% 80%, 100% 100%, 80% 100%, 60% 100%, 40% 100%, 20% 100%, 0% 100%, 0% 80%, 0% 60%, 0% 40%, 0% 20%)
    }

    30% {
        clip-path: polygon(0% 0%, 20% 0%, 40% 0%, 60% 0%, 80% 0%, 100% 0%, 95% 20%, 100% 40%, 100% 60%, 100% 80%, 100% 100%, 80% 100%, 60% 100%, 40% 100%, 20% 100%, 0% 100%, 0% 80%, 0% 60%, 0% 40%, 0% 20%)
    }

    35% {
        clip-path: polygon(0% 0%, 20% 0%, 40% 0%, 60% 0%, 80% 0%, 100% 0%, 100% 20%, 95% 40%, 100% 60%, 100% 80%, 100% 100%, 80% 100%, 60% 100%, 40% 100%, 20% 100%, 0% 100%, 0% 80%, 0% 60%, 0% 40%, 0% 20%)
    }

    40% {
        clip-path: polygon(0% 0%, 20% 0%, 40% 0%, 60% 0%, 80% 0%, 100% 0%, 100% 20%, 100% 40%, 95% 60%, 100% 80%, 100% 100%, 80% 100%, 60% 100%, 40% 100%, 20% 100%, 0% 100%, 0% 80%, 0% 60%, 0% 40%, 0% 20%)
    }

    45% {
        clip-path: polygon(0% 0%, 20% 0%, 40% 0%, 60% 0%, 80% 0%, 100% 0%, 100% 20%, 100% 40%, 100% 60%, 95% 80%, 100% 100%, 80% 100%, 60% 100%, 40% 100%, 20% 100%, 0% 100%, 0% 80%, 0% 60%, 0% 40%, 0% 20%)
    }

    50% {
        clip-path: polygon(0% 0%, 20% 0%, 40% 0%, 60% 0%, 80% 0%, 100% 0%, 100% 20%, 100% 40%, 100% 60%, 100% 80%, 95% 95%, 80% 100%, 60% 100%, 40% 100%, 20% 100%, 0% 100%, 0% 80%, 0% 60%, 0% 40%, 0% 20%)
    }

    55% {
        clip-path: polygon(0% 0%, 20% 0%, 40% 0%, 60% 0%, 80% 0%, 100% 0%, 100% 20%, 100% 40%, 100% 60%, 100% 80%, 100% 100%, 80% 95%, 60% 100%, 40% 100%, 20% 100%, 0% 100%, 0% 80%, 0% 60%, 0% 40%, 0% 20%)
    }

    60% {
        clip-path: polygon(0% 0%, 20% 0%, 40% 0%, 60% 0%, 80% 0%, 100% 0%, 100% 20%, 100% 40%, 100% 60%, 100% 80%, 100% 100%, 80% 100%, 60% 95%, 40% 100%, 20% 100%, 0% 100%, 0% 80%, 0% 60%, 0% 40%, 0% 20%)
    }

    65% {
        clip-path: polygon(0% 0%, 20% 0%, 40% 0%, 60% 0%, 80% 0%, 100% 0%, 100% 20%, 100% 40%, 100% 60%, 100% 80%, 100% 100%, 80% 100%, 60% 100%, 40% 95%, 20% 100%, 0% 100%, 0% 80%, 0% 60%, 0% 40%, 0% 20%)
    }

    70% {
        clip-path: polygon(0% 0%, 20% 0%, 40% 0%, 60% 0%, 80% 0%, 100% 0%, 100% 20%, 100% 40%, 100% 60%, 100% 80%, 100% 100%, 80% 100%, 60% 100%, 40% 100%, 20% 95%, 0% 100%, 0% 80%, 0% 60%, 0% 40%, 0% 20%)
    }

    75% {
        clip-path: polygon(0% 0%, 20% 0%, 40% 0%, 60% 0%, 80% 0%, 100% 0%, 100% 20%, 100% 40%, 100% 60%, 100% 80%, 100% 100%, 80% 100%, 60% 100%, 40% 100%, 20% 100%, 5% 95%, 0% 80%, 0% 60%, 0% 40%, 0% 20%)
    }

    80% {
        clip-path: polygon(0% 0%, 20% 0%, 40% 0%, 60% 0%, 80% 0%, 100% 0%, 100% 20%, 100% 40%, 100% 60%, 100% 80%, 100% 100%, 80% 100%, 60% 100%, 40% 100%, 20% 100%, 0% 100%, 5% 80%, 0% 60%, 0% 40%, 0% 20%)
    }

    85% {
        clip-path: polygon(0% 0%, 20% 0%, 40% 0%, 60% 0%, 80% 0%, 100% 0%, 100% 20%, 100% 40%, 100% 60%, 100% 80%, 100% 100%, 80% 100%, 60% 100%, 40% 100%, 20% 100%, 0% 100%, 0% 80%, 5% 60%, 0% 40%, 0% 20%)
    }

    90% {
        clip-path: polygon(0% 0%, 20% 0%, 40% 0%, 60% 0%, 80% 0%, 100% 0%, 100% 20%, 100% 40%, 100% 60%, 100% 80%, 100% 100%, 80% 100%, 60% 100%, 40% 100%, 20% 100%, 0% 100%, 0% 80%, 0% 60%, 5% 40%, 0% 20%)
    }

    95% {
        clip-path: polygon(0% 0%, 20% 0%, 40% 0%, 60% 0%, 80% 0%, 100% 0%, 100% 20%, 100% 40%, 100% 60%, 100% 80%, 100% 100%, 80% 100%, 60% 100%, 40% 100%, 20% 100%, 0% 100%, 0% 80%, 0% 60%, 0% 40%, 5% 20%)
    }

    100% {
        --angle: 360deg;
        clip-path: polygon(5% 5%, 20% 0%, 40% 0%, 60% 0%, 80% 0%, 100% 0%, 100% 20%, 100% 40%, 100% 60%, 100% 80%, 100% 100%, 80% 100%, 60% 100%, 40% 100%, 20% 100%, 0% 100%, 0% 80%, 0% 60%, 0% 40%, 0% 20%)
    }

}

.ondulanteinverso {
    animation: ondulante 1s reverse infinite;
    background: conic-gradient(from var(--angle), #00ff009b, #4558ffa7);

    clip-path: polygon(0% 0%, 20% 0%, 40% 0%, 60% 0%, 80% 0%, 100% 0%, 100% 20%, 100% 40%, 100% 60%, 100% 80%, 100% 100%, 80% 100%, 60% 100%, 40% 100%, 20% 100%, 0% 100%, 0% 80%, 0% 60%, 0% 40%, 0% 20%);
}

.psyco {
    animation: psyco 5s linear infinite
}

@keyframes psyco {
    0% {
        filter: hue-rotate(0deg);
    }

    50% {
        filter: hue-rotate(360deg);
    }

    100% {
        filter: hue-rotate(0deg);
    }

}

/*efecto 3d*/
/*
.body3d{
    height: 100%;
}
.main3d{height: 100%;}
.presentacion3d{position: relative;
    top: 10%;
    left: -20%;
    z-index: 0;
    width: 800px;
    height: 400px;
    display: flex;
    scale:1
    
    }
    
.habilidades3d{position: relative;
    top:-300px;
    left: 10%;

    z-index: -1;
width: 80%;
scale:0,4}
.proxectos3d{position: relative;
    z-index: -2;
    width: 80%;
scale: 0.25;
top:-1200px;
left: 20%;}
.contacto3d{position: relative;
    z-index: -3;
    width: 80%;
scale:0.15;
top:-90%;
left: 20%;}*/


/*efectp 3d segundo intento*/
.activar3d{
    
    width: 150px;
    height: 150px;
    border-radius: 10%;
    background-color: yellow;
    color: black;
    position: fixed;
    left: 5%;
    top: 20%;
    z-index: +1;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: none;
}
.explicacion3d{
    text-align: center;
    height: 50%;
}
.contedorboton{
    display: flex;
    align-items: center;
    justify-content: center;
}
.boton3d{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: red;
    color:black;
    font-size: 20px;
    font-weight: 700;
    border-bottom:15px ridge red;
    transition:all 0.5s linear;
}
.boton3d:hover{
    border-bottom:5px ridge red

}
.boton3dpalero{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: red;
    color:black;
    font-size: 20px;
    font-weight: 700;
    border-bottom:15px ridge red;
    display: none;
}



@property --angle1 {
    syntax: "<angle>";
    inherits: false;
    initial-value: 75deg;
}

.presentacion3d {
    transform-style: preserve-3d;
    transform: rotate3d(1, 0, 0, var(--angle1));
    border-top: 100px groove var(--color2);
    border-left: 10px groove var(--color2);
    box-shadow: -10px 110px 1000px 0px #000000;
    border-bottom: 0px;
    
    
}
.presentacion3dbaixar{
    animation: presentacion3d 5s linear 1 forwards;
}


@keyframes presentacion3d {
    0% {
        --angle1: 75deg
    }

    100% {
        --angle1: 0deg;
        border-top: 10px groove var(--color2);
        box-shadow: -10px -11px 10px -3px #000000;
    }

}
@property --angle1b {
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
}
.presentacion3dsubir{
    transform-style: preserve-3d;
    transform: rotate3d(1, 0, 0, var(--angle1b));
    border-top: 10px groove var(--color2);
    border-left: 10px groove var(--color2);
    box-shadow: -10px -11px 10px -3px #000000;
    border-bottom: 0px;
    
    animation: presentacion3dsubir 5s linear 1 forwards;
}
@keyframes presentacion3dsubir {
    0% {
        --angle1b: 0deg
    }

    100% {
        --angle1b: -75deg;
        border-top: 100px groove var(--color2);
        box-shadow: -10px 110px 1000px 0px #000000
    }
}





@property --angle2 {
    syntax: "<angle>";
    inherits: false;
    initial-value: -75deg;
}

.habilidades3d {
    transform-style: preserve-3d;
    transform: rotate3d(1, 0, 0, var(--angle2));
    border-bottom: 100px ridge var(--color2);
    box-shadow: 0px 110px 1000px 0px #000000;

    
}
.habilidades3dbaixar{
    animation: habilidades3d 5s linear 1 forwards;
}

@keyframes habilidades3d {
    0% {
        --angle2: -75deg
    }

    100% {
        --angle2: 0deg;
        border-bottom: 10px ridge var(--color2);
        box-shadow: 0px 10px 10px 0px #000000
    }

}

@property --angle2b {
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
}

.habilidades3dsubir {
    transform-style: preserve-3d;
    transform: rotate3d(1, 0, 0, var(--angle2b));
    border-bottom: 10px ridge var(--color2);
        box-shadow: 0px 10px 10px 0px #000000;
    animation: habilidades3dsubir 5s linear 1 forwards;}

    


@keyframes habilidades3dsubir {
    0% {
        --angle2b: 0deg
    }

    100% {
        --angle2b: -75deg;
        border-bottom: 100px ridge var(--color2);
    box-shadow: 0px 110px 1000px 0px #000000;
    }

}









@property --angle3 {
    syntax: "<angle>";
    inherits: false;
    initial-value: -75deg;
}

.proxectos3d {
    transform-style: preserve-3d;
    transform: rotate3d(0, 1, 0, var(--angle3));
    border-bottom: 0px;
    border-right: 100px ridge var(--color2);
    border-top: 10px groove var(--color2);
    box-shadow: 1000px 10px 1000px 0px #000000;
    
}
.proxectos3dbaixar{
    animation: proxectos3d 5s linear 1 forwards;
}

@keyframes proxectos3d {
    0% {
        --angle3: -75deg
    }

    100% {
        --angle3: 0deg;
        border-right: 10px ridge var(--color2);
        box-shadow: 10px -10px 10px 0px #000000
    }

}
@property --angle3b {
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
}

.proxectos3dsubir {
    transform-style: preserve-3d;
    transform: rotate3d(0, 1, 0, var(--angle3b));
    border-bottom: 0px;
    border-right: 100px ridge var(--color2);
    border-right: 10px ridge var(--color2);
        box-shadow: 10px -10px 10px 0px #000000;
    animation: proxectos3dsubir 5s linear 1 forwards;
    
}

@keyframes proxectos3dsubir {
    0% {
        --angle3b: 0deg
    }

    100% {
        --angle3b: -75deg;
        
        border-right: 100px ridge var(--color2);
        border-top: 10px groove var(--color2);
        box-shadow: 1000px 10px 1000px 0px #000000;
    }

}













@property --angle4 {
    syntax: "<angle>";
    inherits: false;
    initial-value: 45deg;
}

.contacto3d {
    transform-style: preserve-3d;
    transform: rotate3d(0, 1, 0, var(--angle4));
    border-bottom: 0px;
    border-right: 80px ridge var(--color2);
    border-top: 10px groove var(--color2);
    box-shadow: 1000px 10px 1000px 0px #000000;
    
}
.contacto3dbaixar{
    animation: contacto3d 5s linear 1 forwards;
}
@keyframes contacto3d {
    0% {
        --angle4:45deg
    }

    100% {
        --angle4: 0deg;
        border-right: 10px ridge var(--color2);
        box-shadow: 10px -10px 10px 0px #000000
    }

}

@property --angle4b {
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
}

.contacto3dsubir {
    transform-style: preserve-3d;
    transform: rotate3d(0, 1, 0, var(--angle4b));
    border-bottom: 0px;
    border-right: 10px ridge var(--color2);
        box-shadow: 10px -10px 10px 0px #000000;
    box-shadow: 1000px 10px 1000px 0px #000000;
    animation: contacto3dsubir 5s linear 1 forwards;
    
}

@keyframes contacto3dsubir {
    0% {
        --angle4:0deg
    }

    100% {
        --angle4: 45deg;
        
        border-right: 80px ridge var(--color2);
    border-top: 10px groove var(--color2);
    box-shadow: 1000px 10px 1000px 0px #000000;
    }

}



/*mediaquerys*/
@media(max-width:1250px) {
    main {
        padding: 1% 10%;
    }
}

@media(max-width:1250px) {
    main {
        padding: 1% 5%;
    }

    .contedorrotate {
        width: 150px;
        height: 150px;
        border-top: 15px ridge goldenrod;
        border-right: 15px groove goldenrod;
        border-bottom: 15px groove goldenrod;
        border-left: 15px ridge goldenrod;
        top: 8%
    }
    .activar3d{
        top:8%;
        width: 125px;
        height: 125px;font-size: 13px;}
        .boton3d{
            width: 50px;
            height: 50px;
        }
}

@media(max-width:780px) {
    #presentacion {
        flex-direction: column-reverse;
    }

    .imaxe {
        width: 100%;
    }

    .imaxe img {
        width: 300px
    }

    .texto {
        width: 100%;
    }

    .slider {
        width: 400px;
    }

    .contedorrotate {

        top: 50%;
        left: 70%;
    }
    .activar3d{top:50%}
    .boton3d{display: none;}
    .boton3dpalero{display: block; width: 50px;
        height: 50px;}
}

@media(max-width:650px) {
    .slider {
        width: 300px;
    }
}



@media(max-width:500px) {
    .slider {
        width: 250px;
    }

    nav {
        flex-wrap: wrap;
    }
    .extras{left:-40px;
    rotate:-90deg}
}

@media(max-width:550px) {
    .contedorrotate {
        width: 120px;
        height: 120px;
        top: 70%;
        left: 70%;
        border-top: 10px ridge goldenrod;
        border-right: 10px groove goldenrod;
        border-bottom: 10px groove goldenrod;
        border-left: 10px ridge goldenrod;
    }

    .dalle p {
        font-size: 9px;
    }
    .activar3d{
        top: 70%;
       }
}

@media(max-width:400px) {
    .contedorrotate {
        width: 100px;
        height: 100px;
        top: 5%;
        left: 70%;
        border-top: 8px ridge goldenrod;
        border-right: 8px groove goldenrod;
        border-bottom: 8px groove goldenrod;
        border-left: 8px ridge goldenrod;
    }

    .dalle p {
        font-size: 9px;
    }
    .enlaces{width: 250px;}
}